.div {
  display: flex;
}

.btn {
  background-color: lightgrey;
  border: none;
  border-radius: 5px;
  color: black;
  transition-duration: 0.5s;
  margin-right: 10px;
  padding: 8px 10px;
  width: 100px;
}

.btn:last-child {
  margin-right: 0;
}

.btn:hover {
  background-color: rgb(0, 167, 131);
  border: none;
}
.btn:active {
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}
.btn:focus,
.btn:focus-visible {
  outline: none;
}
